# This is an example of the .env file for the server app
# Copy this file to .env and fill in the values
MONGO_URI=mongodb+srv://something:password@yourmongo.mongodb.net/?retryWrites=true&w=majority&appName=yourapp
JWT_SECRET=something
BASE_URL=http://localhost:3000
PORT=3000
CLIENT_URL=http://localhost:3001
RESEND_API_KEY='re_example_123456789'
SESSION_SECRET='example'
CSRF_SECRET=your_strong_random_secret_here
REDIS_URL='redis://localhost:6379'
USE_MONGO_SESSION=false